<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>fr.dezaxe.pp1.servlets.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Produit</servlet-name>
    <servlet-class>fr.dezaxe.pp1.servlets.AffichageProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Produit</servlet-name>
    <url-pattern>/produit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreerProduit</servlet-name>
    <servlet-class>fr.dezaxe.pp1.servlets.CreationProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerProduit</servlet-name>
    <url-pattern>/creerproduit</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/includes/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>